/** Import Font **/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/** CSS Code **/

html {
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: #fff;
  color: #5571fe;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 50px;
}

.brand {
  width: 100%;
}

.logo {
  color: black;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.active {
  display: block;
}

.nav-list {
  list-style-type: none;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  display: none;
  color: #5571fe;
}

.nav-list .list-item {
  display: block;
  border-top: 1px solid white;
}

.navbar a {
  text-decoration: none;
  color: #5571fe;
}

.navbar a:hover {
  color: aqua;
}

.menu {
  display: none;
}

.menu-line {
  width: 25px;
  height: 3px;
  margin-bottom: 6px;
  background: #5571fe;
}

.headline {
  width: 100%;
  height: 97vh;
  min-height: 350px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 110px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/header_background.png);
}

.headline p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.primary-text {
  position: static;
  width: 920px;
  font-family: 'Poppins', sans-serif;
  height: 122px;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.media {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 100px;
}

.btn-connect {
  color: #007bff;
  font-weight: 500;
  font-size: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .headline {
    height: 97vh;
  }
}
