/** Import Font **/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/** CSS Code **/

html {
  background: #e5e5e5;
}

.container {
  background-color: #fff;
}

.navbar-light .navbar-brand {
  color: #5571fe;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
}

.navbar-toggler-icon {
  color: #5571fe;
  border-color: #fff;
}

.navbar-light .navbar-toggler {
  border-color: white;
  color: #5571fe;
}

body {
  background-color: #e5e5e5;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

header {
  background-color: #fff;
}

.primary-text {
  position: static;
  width: 920px;
  font-family: 'Poppins', sans-serif;
  height: 122px;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.section-about {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom-left-radius: 110px;
  background-image: url("../image/header_background.png");
}

.section-about .container {
  background-color: transparent;
}

.section-about img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.section-one .content {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.btn-connect {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  text-transform: uppercase;
}

.twitter {
  background: #505f79;
}

.media {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 100px;
}

.media a {
  margin-right: 16px;
  font-size: 21px;
  color: #505f79;
}
