/** Import Font **/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/** CSS Code **/

html {
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

body {
  font-weight: normal;
  color: #091e42;
}

.container {
  max-width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  display: none;
}

.nav-list .list-item {
  display: block;
  padding: 10px;
  border-top: 1px solid white;
  color: black;
}

.navbar a {
  color: #5571fe;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: black;
}

.logo {
  height: 30px;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.menu-line {
  width: 26px;
  height: 3px;
  background-color: #5571fe;
  border-bottom: 4px;
  margin: 6px;
}

.headlines {
  height: 598px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom-left-radius: 110px;
  background-image: url("../image/header_background.png");
}

.headline-text {
  padding-top: 80px;
  padding-left: 15px;
}

.headline-text p {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.primary-text {
  position: static;
  width: 920px;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 40px 10px 30px 0;
  font-size: 35px;
}

.btn-connect h6 {
  font-size: 25px;
  color: #007bff;
  font-weight: 200;
}

.medium {
  list-style-type: none;
}

.medium .social-media {
  display: inline-block;
  border-top: 1px solid white;
  text-decoration: none;
}

.medium i {
  color: #505f79;
  font-size: 21px;
  padding-top: 10px;
  padding-right: 8px;
}

@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
